body {
    background-color : rgb(250 , 250 , 250 );
}
.Container{
    text-align  : center ;
}
.Image{
    width : 370px ;
    margin-top : 50px; 
}
@media (max-width:770px){
    .Container{
        margin : 0px 10% ;
    }
    .Image {
        width: 100% ;
    }
}